
<div class="container">
  <div class="row">
    <div class="jumbotron"><h2>Welcome to Open To Do List API</h2></div> 
    <div class="col-md-4 well">
      <h3>Purpose</h3>
      <ul>
        <li>Accounts</li>
        <li>Lists</li>
      </ul>
    </div>
    <div class="cold-md-8 well">
      <h3></h3>
      <ul>
        <li>Allows users to modify accounts</li>
        <li>Lets users create and edit to-do lists</li>
      </ul>    
    </div>
  </div>    
</div>
